@charset "UTF-8";

/* *{
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
} */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-image: url("./images/bgr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#sum{
    border: 2px solid #ffffff;
    --w: 1vw;
    width: calc(var(--w)*60);
    height: calc(var(--w)*30);
    max-width: 600px;
    max-height: 300px;
    min-width:  200px;

    position: relative;
    top: 10vh;
    left: 50%;
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -moz-transform: translate(-50%);
    transform: translate(-50%);
    background: rgba(255,255,255,0.4);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 10px rgba(255,255,255,0.2), 
                0px 10px 20px rgba(255,255,255,0.3),
                0px 20px 40px rgba(255,255,255,0.4),
                0px 20px 70px rgba(255,255,255,0.55);
    margin-bottom: 20vh;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: x-large;

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funds{
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fund{
    border-radius: 10px;
    border: 1px solid #ffffff;
    background: rgba(255,255,224,0.3);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    --w: 1vw;
    width: calc(var(--w)*86);
    height: calc(var(--w)*54  - 20px);
    position: relative;
    padding: 10px 0 10px 0;
    margin: 0 10px 20px 10px;
    overflow: hidden;
}

.fund:hover{
    box-shadow: 0px 2px 10px rgba(255,255,255,0.2), 
                0px 10px 20px rgba(255,255,255,0.3),
                0px 20px 40px rgba(255,255,255,0.4),
                0px 20px 70px rgba(255,255,255,0.55);
    cursor: pointer;
}

.fund-header{
    position: relative;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fund-name{
    font-size: 16pt;
    font-weight: bold;
    margin-left: 5px;

    flex: 1 0 fit-content;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; 
}

.fund-total{
    position: relative;
    height: calc(var(--w)*36);
    width: 100%;

    font-size: 22pt;
    font-weight: bold;
    text-align: center;
    margin-top: calc(var(--w)*18);
    margin-right: 5px;

    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; 
}

.fund.show{
    height: fit-content;
    min-height: calc(var(--w)*54  - 20px);
}

.fund.show>.fund-header{
    justify-content: space-between;
    margin-bottom: 10px;
}
.fund.show>.fund-header>.fund-name{
    font-size: 14pt;
}
.fund.show>.fund-header>.fund-total{
    font-size: 14pt;
    margin-top: 0;
    text-align: right;
    min-width: fit-content;
    height: fit-content;
    flex: 1 0 fit-content;
}

.fund-ctrl{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
}

.ctrlItem{
    min-width: 35%;
    margin: 0 5%;
    height: 4ex;
    border-radius: 2ex;
    border: none;
    background-color: #ffffe0;
    font-size: small;
}

.fund-detail-row{
    background: rgba(255,255,224,0.2);
    padding: 10px;
}

.fund-detail-row:nth-of-type(odd){
    background: rgba(255,255,224,0.45);
}

.fund-detail-row:hover{
    background: rgba(255,255,224,0.75);
}

.detail-header{
    font-size: 13pt;
    font-weight: bold;
}

.detail-body{
    font-size: 12pt;
    font-weight: normal;
    min-height: 1em;
}

.detail-txtI{
    font-style: italic;
    font-size: 11pt;
}

.detail-num{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

@media screen and (orientation: landscape){
    #sum{
        top: 20px;
        left: calc(100% - 20px);
        -ms-transform: translate(-100%);
        -webkit-transform: translate(-100%);
        -o-transform: translate(-100%);
        -moz-transform: translate(-100%);
        transform: translate(-100%);
        width: 300px;
        height: 75px;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: right;
    }

    .fund{
        width: 8.6cm;
        height: calc(5.4cm - 20px);
    }

    .fund.show{
        min-height: calc(5.4cm - 20px);
    }

    .fund-total{
        font-size: 22pt;
        font-weight: bold;
        text-align: center;
        margin-top: calc(1.8cm);
        position: relative;
    }
}

#sum::before{
    content: "Số dư tổng: ";
    margin-right: 10px;
}

