/*
 * create: 2024-02-03
 * update:
 */

@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Mea+Culpa&display=swap');
@font-face { font-family: 'Mea Culpa'; src: url('./fonts/MeaCulpa-Regular.ttf') format('truetype');}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("./images/bgr.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    -webkit-transition: all ease 0.15s;
    -moz-transition: all ease 0.15s;
    -o-transition: all ease 0.15s;
    transition: all ease 0.15s;
}
/* #msg{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Mea Culpa', cursive;
    font-size: 9vh;
    color:white;
    text-shadow: #000000 5px -4px 1em;
} */

/* #btnPlayPause{
    height: 8vh;
    width: auto;
    right: 20px;
    bottom: 20px;
    position: fixed;
    z-index: 999;
    opacity: 50%;
    border-radius: 8vh;
} */

.container{
    width: 100%;
    margin: 0;
    padding: 0;
}

#divbgr{
    height: 100%;
}

#audioController{
    background-color: rgba(0, 0, 0, 0.22);
    height: 12vw;
    padding: 2vw 0;
    width: 51vw;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    border: none;
    border-radius: 12vw;
    margin-left: 50%;
    
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 2vw;
}

#audioController>p{
    display: none;
}

.ctrlBtn{
    height: 10vw;
    width: 10vw;
    margin: 1vw 2vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}

.ctrlBtn#btnComment{
    background-image: url('./images/btns/au_comment.svg');
}

.ctrlBtn#btnPlayPause{
    background-image: url('./images/btns/au_play.svg');
}

.ctrlBtn#btnNext{
    background-image: url('./images/btns/au_next.svg');
}

.app{
    height: 15vw;
    width: 15vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    margin: 1.5vw 1.5vw;
    
}
.app#blank{
    cursor:auto;
    background: none;
}
.app#WDCD{
    background-image: url('https://wdcd.nguyenchammemories.id.vn/icon/favicon.svg');

}
.app#proposal{
    background-image: url('https://proposal.nguyenchammemories.id.vn/icon/favicon.svg');
}
.app#NCm{
    background-image: url('./images/MemoriesFavicon.svg');
}
.app#WDi{
    background-image: url('./images/WDiFavicon.svg');
}
.app#WD{
    background-image: url('./images/WDfavicon.svg');
}

#divMain{
    width: 100%;
    z-index: 2;
    bottom: 0;
    position: fixed;
}

#appGroup{
    width: 100%;
    margin-bottom: 3vh;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    
   
}

@supports (display:grid){
    .app{
        margin: auto;
    }
    #appGroup{
        display: grid;
        grid-template-columns: 18vw 18vw 18vw 18vw 18vw;
        grid-template-rows: 18vw 18vw;
        justify-items: center;
    }
}


@media screen and (orientation: landscape){
    #audioController{
        height: fit-content;
        padding: 1.5vh 4.5vh 0.5vh 4.5vh;
        width: 40vh;
        display: flex;
        display: -webkit-flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
        border-radius: 7.5vh;
        margin-left: 50%;

        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform:translateX(-50%);
        transform: translateX(-50%);
    
    }

    #audioController>p{
        display: block;
        width: 100%;
        text-align: center;
        font-family: 'Mea Culpa', cursive;
        font-size: 3.5vh;
        color:white;
        text-shadow: #000000 5px -4px 1em;
        margin: 1vh 0 0 0;
    }

    .ctrlBtn{
        height: 7vh;
        width: 7vh;
        margin: 0 2vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        cursor: pointer;
    }

    .ctrlBtn#btnComment{
        -o-transform: translateY(15%) scale(0.9);
        -ms-transform: translateY(15%) scale(0.9);
        -moz-transform: translateY(15%) scale(0.9);
        -webkit-transform: translateY(15%) scale(0.9);
        transform: translateY(15%) scale(0.9);
    }
    .ctrlBtn#btnNext{
        -o-transform: translateY(10%) scale(0.8);
        -ms-transform: translateY(10%) scale(0.8);
        -moz-transform: translateY(10%) scale(0.8);
        -webkit-transform: translateY(10%) scale(0.8);
        transform: translateY(10%) scale(0.8);
    }
    .ctrlBtn#btnPlayPause{
        background-color: rgba(255, 255, 255, 0.22);
        border-radius: 50%;
        background-size: 70%;
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .ctrlBtn#btnPlayPause:hover{
        background-color: rgba(255, 255, 255, 0.32);
    }

    #appGroup{
        width: fit-content;
        height: fit-content;
        margin-bottom: 2vh;
        margin-left: 50%;

        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.22);
        border-radius: 3vh;
        padding: 1vh 2vh;

        display: -webkit-flex;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: center;
        
    }

    .app{
        height: 7vh;
        width: 7vh;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        cursor: pointer;
        margin: 0 0.5vh;
    }

    .app:hover{
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        margin: 0 1vh;
    }

    .app#blank{
        height: 0;
        width: 0;
        margin: 0;
    }
    #divMain{
        width: fit-content;
        margin-left: 50%;
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
